# dependency management
pip-tools

# code formatting
pre-commit

# Flask & core extensions
flask
flask-login
flask-mail
flask-moment
flask-cors
flask-bootstrap
python-dotenv

# database
flask-sqlalchemy
psycopg2-binary

# serialization
flask-marshmallow
marshmallow-sqlalchemy

# forms
flask-wtf
email-validator

# Socket.IO
flask-socketio
simple-websocket
eventlet

# web server
gunicorn

# solvers
numpy
ortools

# No longer needed: another TSP solver
# python-tsp

# No longer needed: how we would skip ortools on M1:
# ortools; platform_machine != 'arm64'

# encryption
pycryptodome

# git
python-git-info

# fake data
faker

# testing
pytest
pytest-cov
