body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding-top: 50px;
}

.Body{
  margin: 0px;
  padding: 0px;
}

.right-panel{
  margin-top: 15px;
}

/* Navbar styling */
.Navbar {
  border-bottom: 1px solid #ddd;
}

.me-auto.my-2.my-lg-0.navbar-nav.navbar-nav-scroll {
  position:  fixed; 
  right: 0px;
  padding-right: 100px
}

a.nav-link {
  padding-right: 60px !important;
}

/* Queue Styling */

.Queue ul{
  list-style: none;
  padding: 0;
}

.expand-buttons{
  margin-left: auto;
}

.expand-bar{
  padding: 20px 5px;
}

.expand-button, .collapse-button{
  border: 1px solid black;
}

.current-text{
  font-size: 25px;
}
/* Queue Item Styling */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the buttons that are used to open and close the accordion panel */

.queue_element.odd_row{
  background-color: #eec;
}

.current{
  background-color: cyan;
}

.past{
  background-color: #dfd;
}

.past.odd_row{
  background-color: #beb;
}

/* Style the accordion content title */
.accordion_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordion_icon {
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion_content {
  overflow: auto;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.queue-element-container{
  width: 100%
}

.queue_element{
  border: 1px solid black;
  padding: 10px 5px;
  cursor: pointer;
}

.AdminQueueControls{
  margin-top: 15px;
}

.paper-change-button{
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.new-status-dropdown{
  margin-left: auto
}

/* Paper Styling (right panel) */
.right-panel-container{
}

.paper-image{
  width: 75%;
  margin-top: 20px;
}

.paper-img-container{
  text-align: center;
}

/* Split Screen CSS */

.split{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

/* Grid Styling */
.grid-container{
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, 50px);
  text-align: center;
}

.grid_legend{
  margin-top: 10px;
}

.grid-controls{
  padding: 20px 5px;
}

.legend-container{
  list-style: none;
  padding: 3px;
}

.grid-item{
  border: 1px solid #444;
  border-radius: 4px;
}

.rectangle{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 5px;
}

.stickie{
  color: white;
  background-color: gray;
}

.non-stickie{
  color: white;
  background-color: gray;
  opacity: 0.2
}

/* Preferences Page Styling */

.grid_colors_preferences{
  list-style: none;
}
.grid_colors_preferences li{
  padding: 0 15px;
}

.preferences-container{
  margin-top: 40px;
  padding: 20px 5px;
}

.font-size-dropdown{
  margin-left: 15px;
}

.color-preferences-container{
  margin-top: 30px;
}

.color-picker{
  margin-left: 150px;
}

/* Change Password Page Styling */
.ChangePasswordPage{
  margin-top: 30px;
}

.change-password-main-container{
  padding: 50px 10px;
}

.reset-password{
  margin: 0 auto;
}

.password-fields{
  margin: 100px 0 0 100px;
}

.form-title{
  font-size: 20px;
}

.reset-password-row{
  margin-bottom: 20px;
}

/* AF added the ones below -- need to integrate above */

#noPapersInQueue {
  color: purple;
  margin: 40px;
  padding-top: 20px;
  font-size: 20px;
  width: 200px;
  height: 80px;
  border-radius: 6px;
  border: 1px dashed purple;
  text-align: center;
  font-style: italic;
}

#status-dropdown-menu {
  width:120px;
  border: 1px solid black;
}

#status-dropdown-menu:hover {
  background: lightyellow;
}