body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-size-1 {
  font-style: bold;
}

.font-size-2 {
  font-style: bold;
}

.font-size-3 {
  line-height: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 50px 0 0 0;
  overflow: hidden;
}

.Body{
  position: fixed;
  margin: 0px;
  padding: 0px;
}

.left-panel{
  overflow-y: auto;
  padding-top: 15px;
  padding-bottom: 100px;
}
.right-panel{
  overflow-y: auto;
  padding-bottom: 100px;
}

.tabs{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
}

.tab{
  margin-top: 100px;
}

/* Navbar styling */
.Navbar {
  border-bottom: 1px solid #ddd;
}

.me-auto.my-2.my-lg-0.navbar-nav.navbar-nav-scroll {
  position:  fixed; 
  right: 0px;
  padding-right: 100px
}

a.nav-link {
  padding-right: 60px !important;
}

/* Queue Styling */

.Queue ul{
  list-style: none;
  padding: 0;
}

.Queue ul li{
  list-style: none;
  padding: 5px;
}

.expand-buttons{
  margin-left: auto;
}

.expand-bar{
  padding: 20px 5px;
}

.expand-button, .collapse-button{
  border: 1px solid black;
}

.conflict-element{
  line-height: 90%;
  /* these do nothing:
  display: list-item;
  list-style-type: circle;
  */
}

.queue-paper-conf-header {
  font-weight: bold;
}

#noPapersInQueue {
  color: purple;
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px dashed purple;
  text-align: center;
  font-style: italic;
}

/* Queue Item Styling */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the buttons that are used to open and close the accordion panel */

/* Style the accordion content title */

.queue-hidden-for-non {
  color: purple;
  font-style: bold;
  margin: 15px;
  margin-bottom: 20px;
}

.accordion_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}

.qSymbol {
  display: inline-block;
  margin-left: auto;
  font-size: 20px;
  padding-left: 15px;
}

/* Style the accordion chevron icon */
.accordion_icon {
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */

.queue-paper-conf-list {
  line-height: 120%;
  margin-top: 5px;
}

.queue-conflicts {
  overflow: hidden;
  transition: max-height 0.25s linear;
}

.queue-title{
  line-height: 110%;
}

.queue-element-container{
  padding: 5px;
  width: 100%
}

.queue_element{
  /* margin-top:-1px; this avoids double-border between elements */
  padding: 10px 5px;
  cursor: pointer;
  border-right:  1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left:   1px solid #aaa;
}

.queue_element.Past{
  border-top: 1px solid black;
  border-right:  1px solid black;
  border-left:   1px solid black;
  border-bottom: 0;
}

.queue_element.Current{
  border: 1px solid black;
}

.queue_element.odd_row{
  background-color: #eee;
}

.admin-user {
  color: blue;
}

.current-admin-user {
  color: #8DCEE6;
}

.AdminQueueControls{
  margin-top: 15px;
}

.paper-change-button {
  margin-right: 10px;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid black;
}

.paper-change-button:hover {
  border: 1px solid black;
  background: lightyellow;
}

.paper-change-button:disabled {
  border: 1px dashed gray;
}

/* Paper Styling (right panel) */


.paper-timer {
  position: absolute;
  right: 16px;
  text-align: left;
  color: purple;
  background-color: #eee;
  padding: 8px;
  border-radius: 5px;
  font-family: monospace;
}

.paper-title {
  line-height: 100%;
  margin-right: 80px;
}

.paper-image{
  width: 75%;
  margin-top: 20px;
}

.paper-img-container{
  text-align: center;
}

.paper-par-header {
  font-weight: bold;
}

/* Split Screen CSS */

.split{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

/* Grid Styling */

.grid-container{
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, 50px);
  text-align: center;
}

.grid_legend{
  margin-top: 10px;
}

.grid-display-dropdown{
  margin-left: auto;
}

.dropdown-menu {
  max-height: 200px;
  overflow: scroll;
}

.grid-controls{
  padding: 20px 5px;
}

.grid-control-bar{
  margin-bottom: 20px;
}

.legend-container{
  list-style: none;
  padding: 3px;
}

.grid-item{
  border: 1px solid #444;
  border-radius: 4px;
}

.rectangle{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 5px;
  display: inline-block;
}

.stickie{
  color: white;
  background-color: gray;
}

.send-stickie-column > div {
  padding-bottom: 12px;
}

.stickie-step {
  margin-top: 20px;
}

.non-stickie{
  color: white;
  background-color: gray;
  opacity: 0.2
}

.set-stickie{
  margin-left: 40px;
}

/* Preferences Page Styling */

.grid_colors_preferences{
  list-style: none;
}
.grid_colors_preferences li{
  padding: 0 15px;
}

.preferences-container{
  margin-top: 20px;
  padding: 20px 5px;
}

.preferences-page{
  margin-top: 35px;
}

.font-size-dropdown{
  margin-left: 15px;
}

.color-preferences-container{
  margin-top: 30px;
}

/* this is the hstack for a legend that is not currently picked */
.legend-stack {
  padding: 3px;
  border: 1px solid white;
}

/* this is the hstack for a legend that is currently picked */
.picking-for {
  padding: 3px;
  border: 1px solid black;
  border-radius: 6px;
}

.favorite-preferences-container{
  margin-top: 30px;
}

.favorites-input{
  margin-left: 10px;
}

.favorites-submit-btn{
  margin-left: 10px;
}

.favorites-list{
  list-style: none;
}

.example-favorites{
  margin-left: 10px;
}

.delete-all-btn{
  margin-left: 10px;
}

.current-favorites-bar{
  margin-top: 10px;
}

.current-favorites-container{
  margin-top: 10px;
}

.current-favorites-container li{
  margin: 5px 0;
}

.color-picker{
  margin-left: 150px;
}

/* Change Password Page Styling */
.ChangePasswordPage{
  margin-top: 30px;
}

.change-password-main-container{
  padding: 50px 10px;
}

.reset-password{
  margin: 0 auto;
}

.password-switch{
  margin: 20px 5px 20px 0px;
}

.password-fields{
  margin: 40px 0 0 40px;
}

.form-title{
  font-size: 20px;
}

.reset-password-row{
  margin: 20px 5px 20px 0px;
}

/* Set GUI Styling */
.change-bar-btn{
  margin-right: 10px;
}

.queue-explicit-btn{
  margin-top: 20px;
}

.queue-explicit-instructions{
  margin-left: 40px;
}

.horizontal-divider{
  border-top: 3px solid #000;
  border-radius: 2px;
  margin: 20px 0;
}

.vertical-divider{
  border-left: 3px solid #000;
  border-radius: 2px;
  margin: 0 0px 0 40px;
  height: 150px !important;
}

.hideQ-text{
  margin-left: 10px;
}

.message-input{
  margin-left: 10px;
}

.set-message-row{
  margin-top: 10px;
}

.get-filtered-count-text {
  margin-left: 15px;
  margin-right: 10px;
}

.gather-conflicts-label {
  margin-left: 15px;
  margin-right: 10px;
}

.set-filtered-queue-stack {
  margin-top: 30px;
}

.set-filtered-queue-button {
  margin-right: 15px;
}

.score-box {
  width: 50px;
}

/* About Page */
.about-container {
  margin-top: 20px;
}

.about-container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%;*/
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

/* Misc. */
/* this eliminates the blue outline on select button - not ideal for accessibility */
#status-dropdown-menu {
  /* width: 160px; */
  border: 1px solid black;
  border-radius: 4px;
  outline:0;
}

#status-dropdown-menu:hover {
  background: lightyellow;
}

#waiting-for-server {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-style: italic;
  color: #888;
}