<html>
    <head>
        <title>Conflictbot3</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta content="utf-8" http-equiv="encoding" />
        <link type="text/css"
              rel="stylesheet"
              href="https://source.zoom.us/2.12.2/css/bootstrap.css" />
        <style>
          #main {
            padding-left: 20px;
          }
          h2 {
            padding-top: 5px;
          }
        </style>
    </head>
    <body>
        <div id="main">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
                    crossorigin="anonymous"></script>
            <h2>Conflictbot3</h2>
            See console for communication.
        </div>
        <script>
          // At server set env var: export HEPCAT_CONFLICTBOT_SOCKET=foo
          const conflictbot_socket_name = '{{ conflictbot_socket }}';
          const globHepcatSocket = io(conflictbot_socket_name);
          console.log('opened socket to hepcat in namespace: ' + conflictbot_socket_name);
        
          // Receive list of users
          globHepcatSocket.on('user-list', function (data) {
            console.log('Got user-list data:');
            console.log(data);
          });
    
          // Receive list of conflicts and paper metadata
          globHepcatSocket.on('conflicts', function (data) {
            console.log('Got conflicts:');
            console.log(data);
          });
        </script>
    </body>
</html>
