<html>
    <head>
        <title>Debug Conflictbot Socket</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta content="utf-8" http-equiv="encoding" />
        <link type="text/css"
              rel="stylesheet"
              href="https://source.zoom.us/2.12.2/css/bootstrap.css" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="origin-trial" content="" />
        <style>
      h2 {
        padding-top: 5px;
        padding-left: 20px;
      }
      #debugging-output {
        padding-left: 20px;
      }
        </style>
    </head>
    <body>
        <div id="main">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.slim.min.js"
                    integrity="sha512-5NqgLBAYtvRsyAzAvEBWhaW+NoB+vARl6QiA02AFMhCWvPpi7RWResDcTGYvQtzsHVCfiUhwvsijP+3ixUk1xw=="
                    crossorigin="anonymous"
                    referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
                    crossorigin="anonymous"></script>
            <h2>Debug Conflictbut Socket</h2>
            <div id="debugging-output">
                Current Rooms (with conflicts):
                <ul id="room-list">
                </ul>
                All Users (showing current rooms):
                <ul id="all-user-list">
                </ul>
            </div>
        </div>
        <script>
      // globals associated with hepcat
      const globHepcatSocket = io('{{ conflictbot_socket }}');
      console.log('opened socket to hepcat');

      function addLItoUL(ul, html) {
        const li = document.createElement('li');
        li.innerHTML = html;
        ul.appendChild(li);
      }

      function userToNameEmail(user) {
        // note if we use angle brackets "<>"
        // ...we would need to be careful setting HTML
        return user.full_name + ' (' + user.email + ')';
      }

      function receiveHepcatUsers(users) {
        const ul = document.getElementById('all-user-list');
        ul.innerHTML = ''; // clear old list
        for (let i = 0; i < users.length; i++) {
          const user = users[i];
          // console.log(user);
          let html = ' [' + user.room_name + '] ' + userToNameEmail(user);
          addLItoUL(ul, html);
        }
      }

      function getRoomItem(room) {
        let roomLI = document.getElementById(room);
        if (!roomLI) {
          const parent = document.getElementById('room-list');
          roomLI = document.createElement('li');
          roomLI.setAttribute('id', room);
          parent.appendChild(roomLI);
        }
        return roomLI;
      }

      function updateRoomInfo(data) {
        const item = getRoomItem(data.room);
        item.innerHTML =
          data.room + ': Paper ' + data.paper + ' (show ' + data.show + ')';
        const conflicts = data.emails;
        if (!conflicts || !conflicts.length) return;
        const ul = document.createElement('ul');
        item.appendChild(ul);
        for (let i = 0; i < conflicts.length; i++) {
          const email = conflicts[i];
          const li = document.createElement('li');
          li.innerHTML = email;
          ul.appendChild(li);
        }
      }

      // Receive list of users
      globHepcatSocket.on('user-list', function (data) {
        console.log('Got user-list data:');
        console.log(data);
        receiveHepcatUsers(data.userMappings);
      });

      // Receive list of conflicts and paper metadata
      globHepcatSocket.on('conflicts', function (data) {
        console.log('Got conflicts:');
        console.log(data);
        updateRoomInfo(data);
      });

      // Run when page is first loaded
      $(document).ready(function () {
        console.log('document ready');
      });
        </script>
    </body>
</html>
