<!DOCTYPE html>
<html>
    <head>
        <title>Hepcat Help</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta content="utf-8" http-equiv="encoding" />
    </head>
    <body>
        <h1>Hepcat Help</h1>
        This is a help page. But currently the server does not show it.
        <!-- <iframe src="https://docs.google.com/document/d/e/2PACX-1vTooKgBrn5p5NGoXrnf6eAoLMRZPJRTOaSRR-fb4lvv1aDAEFoI4u__2MMFoOwQuBf4mg8DUcAtwO5t/pub?embedded=true"></iframe> -->
    </body>
</html>
