{% extends "base.html" %}

{% block title %}Hepcat - Socketio{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>{{ title }}</h1>
    <input type="text" id="chat-input">
    <button type="button" onclick="javascript:button_press();">Send</button>
</div>

<p><hr><p>
    
<div id="chat"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var myname;

    socket.on('connect', function() {
        console.log('{{ name }} connected by socketio')
    });

    socket.on('welcome', function(name) {
        console.log('I am welcomed as: ' + name);
        myname = name;
    });

    socket.on("chat_echo", (data) => {
        document.getElementById("chat").innerHTML += "<br>" + data
    })

    function button_press() {
        let val = document.getElementById("chat-input").value;
        console.log('sending chat: ' + val);
        socket.emit('chat', val);
    }
</script>


{% endblock %}