{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hepcat - Upload{% endblock %}

{% block page_content %}
<div class="container">

<div class="page-header">
    <h1>Upload Files Here</h1>
</div>

<div class="row">
    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
</div>

<div class="row">

{% if pending %}
<h2>Pending uploads:</h2>
<ul>
{% for p in pending %}
<li><b>{{p}}</b> (aka {{linklings[p]}})</li>
{% endfor %}
</ul>
{% endif %}

{% if uploads %}
<h2>Already uploaded:</h2>
<ul>
{% for upload in uploads %}
<li><b>{{upload.file}}</b> &mdash; {{upload.count}} uploaded {{moment(upload.when).format('LLLL')}}</li>
{% endfor %}
</ul>
{% endif %}

</div>

<hr/>

<div class="row">
<h2>For end of meeting:</h2>
<a class="btn btn-warning" href="{{url_for('upload.download_results_csv')}}">Download CSV</a>
</div>

<hr/>
<p>&nbsp</p>
<hr/>

<div class="row">
<h2>Wipe the database clean, removing all data:</h2>
<a class="btn btn-danger" href="{{url_for('upload.wipe_database')}}">Be CAREFUL!</a>
</div>

<p>&nbsp</p>

</div>

{% endblock %}