<html>
    <head>
        <title>Hepcat Conflictbut Debugger</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
    </head>
    <body>
    
    <h1>Hepcat Conflictbut Debugger</h1>

    All Users (showing current rooms):
    <ul id="all-user-list"></ul>
    
    Current Rooms (with conflicts):
    <ul id="room-list"></ul>
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" crossorigin="anonymous"></script>

    <script>

    function setUsers(users) {
        const ul = document.getElementById('all-user-list');
        ul.innerHTML = ''; // clear old list
        for (let i = 0; i < users.length; i++) {
            const user = users[i];
            console.log(user);
            const li = document.createElement('li');
            let html = ' [' + user.room_name + '] '
                     + user.full_name + " (" + user.email + ")";
            li.innerHTML = html;
            ul.appendChild(li);
        }
    }

    function getRoomItem(room) {
        let roomLI = document.getElementById(room);
        if (!roomLI) {
            const parent = document.getElementById('room-list');
            roomLI = document.createElement('li');
            roomLI.setAttribute('id', room);
            parent.appendChild(roomLI);
        }
        return roomLI;
    }

    function updateRoomInfo(data) {
        const item = getRoomItem(data.room);
        item.innerHTML = data.room + ': Paper ' + data.paper + ' (show ' + data.show + ')';
        const conflicts = data.emails;
        if (!conflicts || !conflicts.length) return;
        const ul = document.createElement('ul');
        item.appendChild(ul);
        for (let i = 0; i < conflicts.length; i++) {
            const email = conflicts[i];
            const li = document.createElement('li');
            li.innerHTML = email;
            ul.appendChild(li);
        }
    }

    const socket = io("/lurk_NxtCmHS8aDj6");
    console.log('opened LURKER socket namespace in this socket:');
    console.log(socket);
    
    // This is not necessary - just here to check for connection
    socket.on('connect', function() {
        console.log('Socket connected on id: ' + socket.id);
    });
    
    // Receive list of users
    socket.on('user-list', function(users) {
        console.log('Got users:');
        console.log(users);
        setUsers(users);
    });

    // Receive list of conflicts and paper metadata
    socket.on('conflicts', function(data) {
        console.log('Got conflicts:');
        console.log(data);
        updateRoomInfo(data)
    });
    
    </script>
    
    </body>
    </html>


