<html>
<head>
    <title>Hepcat Zoom Conflictbut</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.12.2/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.12.2/css/react-select.css" />

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="origin-trial" content="">

    <style>
    #nav-tool1 {
        margin-bottom: 0px;
        background-color: #174460;
    }
    #form-control {
        width: 300px;
    }
    .navbar-brand {
        color: white;
    }
    .spacedown {
        height: 60px;
    }
    </style>
</head>
<body>
    <nav id="nav-tool1" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Hepcat Zoom Conflictbut</a>
            </div>
            <div id="navbar" class="websdktest">

                <form class="navbar-form navbar-right" id="meeting_form">
                    <div class="form-group">
                        <input type="text" name="meeting_number" id="meeting_number" value="" maxLength="200"
                            placeholder="Meeting Number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="meeting_passwd" id="meeting_passwd" value="" maxLength="32" 
                            placeholder="Meeting Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="meeting_room" id="meeting_room" value="Plenary" maxLength="10" 
                            placeholder="Meeting Room" class="form-control">
                    </div>

                    <button type="button" class="btn btn-primary" id="join_meeting">Join</button>
                    <button type="button" class="btn btn-primary" id="hold_others">Hold</button>
                    <button type="button" class="btn btn-primary" id="return_others">Return</button>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.slim.min.js" integrity="sha512-5NqgLBAYtvRsyAzAvEBWhaW+NoB+vARl6QiA02AFMhCWvPpi7RWResDcTGYvQtzsHVCfiUhwvsijP+3ixUk1xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" crossorigin="anonymous"></script>

    <script src="https://source.zoom.us/2.12.2/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/2.12.2/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/2.12.2/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/2.12.2/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/2.12.2/lib/vendor/lodash.min.js"></script>
    <script src="https://source.zoom.us/zoom-meeting-2.12.2.min.js"></script>

    <div class="spacedown"></div>
    <h1>Hepcat Zoom Conflictbut</h1>

    All Users (showing current rooms):
    <ul id="all-user-list"></ul>
    
    Current Rooms (with conflicts):
    <ul id="room-list"></ul>
            
    <script>

    // globals associated with hepcat
    let globHepcatUsers = null;
    let globUniqueNames = null;
    let globHepcatPlenaryConflicts = null;
    const globHepcatConflicts = {};
    const globHepcatSocket = io("/" + "{{ conflictbot_socket }}");
    console.log('opened socket to hepcat');

    // globals passed from web server
    const globURL = "{{ url }}";
    const globZoomClientID = "{{ client_id }}";
    const globZoomClientSecret = "{{ client_secret }}";

    // globals set by GUI operations
    let globJoinedMeeting = false;
    let globMeetingNumber = ''; // stored as string
    let globMeetingPasswd = '';
    let globMeetingRoom = '';
    let globSignature = null;
    let globMyZoomUser = null;

    function receiveHepcatUsers(users) {
        const ul = document.getElementById('all-user-list');
        ul.innerHTML = ''; // clear old list
        for (let i = 0; i < users.length; i++) {
            const user = users[i];
            console.log(user);
            const li = document.createElement('li');
            let html = ' [' + user.room_name + '] '
                        + user.full_name + " (" + user.email + ")";
            li.innerHTML = html;
            ul.appendChild(li);
        }
    }

    function getRoomItem(room) {
        let roomLI = document.getElementById(room);
        if (!roomLI) {
            const parent = document.getElementById('room-list');
            roomLI = document.createElement('li');
            roomLI.setAttribute('id', room);
            parent.appendChild(roomLI);
        }
        return roomLI;
    }

    function updateRoomInfo(data) {
        const item = getRoomItem(data.room);
        item.innerHTML = data.room + ': Paper ' + data.paper + ' (show ' + data.show + ')';
        const conflicts = data.emails;
        if (!conflicts || !conflicts.length) return;
        const ul = document.createElement('ul');
        item.appendChild(ul);
        for (let i = 0; i < conflicts.length; i++) {
            const email = conflicts[i];
            const li = document.createElement('li');
            li.innerHTML = email;
            ul.appendChild(li);
        }
    }
    
    // Receive list of users
    globHepcatSocket.on('user-list', function(users) {
        console.log('Got users:');
        console.log(users);
        receiveHepcatUsers(users);
        globHepcatUsers = users;
        recordUniqueUserNames();
    });

    // Receive list of conflicts and paper metadata
    globHepcatSocket.on('conflicts', function(data) {
        console.log('Got conflicts:');
        console.log(data);
        updateRoomInfo(data);
        globHepcatConflicts[data.room] = data;
        if (data.room === 'Plenary') {
            globHepcatPlenaryConflicts = data;
        }
        checkZoomConflicts();
    });

    function uniqueInArr(arr) {
        const lower = arr.map(str => str.toLowerCase());
        const uniq = lower.filter(value => lower.indexOf(value) === lower.lastIndexOf(value));
        return uniq;
    }

    function recordUniqueUserNames() {
        if (!globHepcatUsers) {
            console.log('cannot record unique names in empty list');
            return;
        }
        let allNames = [];
        // fill globUniqueNames
        globHepcatUsers.forEach( user => {
            parts = user.full_name.split(' ');
            allNames = allNames.concat(parts);
        });
        const uniqNames = uniqueInArr(allNames);
        globUniqueNames = {};
        globHepcatUsers.forEach( user => {
            email = user.email.toLowerCase();
            globUniqueNames[email] = user;
            parts = user.full_name.split(' ');
            let userHasUniqName = false;
            parts.forEach( name => {
                lower = name.toLowerCase();
                if (uniqNames.includes(lower)) {
                    globUniqueNames[lower] = user;
                    userHasUniqName = true;
                }
            });
            if (!userHasUniqName) {
                console.log('Warning! Hepcat user does not have unique name: ', user);
            }
        });
        // console.log('unique names and dict', uniqNames, globUniqueNames);
    }

    // Run when page is first loaded
    $(document).ready(function() {
        console.log('document ready');
        copyMeetingInfoFromCookiesToGlobs();
        copyMeetingInfoFromGlobsToGUI();

        ZoomMtg.preLoadWasm(); // AF thinks maybe not needed based on SMR
        ZoomMtg.prepareWebSDK();

        registerHandlers();
        console.log('completed doc ready');
    });

    function copyMeetingInfoFromGlobsToGUI() {
        $('#meeting_number').val(globMeetingNumber);
        $('#meeting_passwd').val(globMeetingPasswd);
        $('#meeting_room').val(globMeetingRoom);
    }
    
    function copyMeetingInfoFromGUItoGlobs() {
        globMeetingNumber = $('#meeting_number').val();
        globMeetingPasswd = $('#meeting_passwd').val();
        globMeetingRoom = $('#meeting_room').val();
    }

    function copyMeetingInfoFromGlobsToCookies() {
        const expires_in_days = 7;
        $.cookie("meeting_number", globMeetingNumber, { expires: expires_in_days } );
        $.cookie("meeting_passwd", globMeetingPasswd, { expires: expires_in_days } );
        $.cookie("meeting_room", globMeetingRoom, { expires: expires_in_days } );
        console.log('set cookies: ', globMeetingNumber, globMeetingPasswd, globMeetingRoom);
    }

    function copyMeetingInfoFromCookiesToGlobs() {
        globMeetingNumber = $.cookie("meeting_number");
        globMeetingPasswd = $.cookie("meeting_passwd");
        if (!!globMeetingNumber) {
            globMeetingNumber = '';
        }
        if (!!globMeetingPasswd) {
            globMeetingPasswd = '';
        }
        console.log('got cookies: ', globMeetingNumber, globMeetingPasswd);
    }

    function generateZoomSignatureAndJoin() {
        ZoomMtg.generateSDKSignature({
            meetingNumber: globMeetingNumber,
            sdkKey: globZoomClientID,
            sdkSecret: globZoomClientSecret,
            role: 0,
            success: function (res) {
                globSignature = res.result;
                console.log('got signature: ' + globSignature);
                zoomInitEtc();
            },
            error: function (res) {
                console.log('generateSDKSignature error:');
                console.log(res);
            },
        });
    }

    function setButtonStates() {
        if (globJoinedMeeting) {
            $("#join_meeting").html('Leave');
            $("#hold_others").removeClass('disabled');
            $("#return_others").removeClass('disabled');
        }
        else {
            $("#join_meeting").html('Join');
            $("#hold_others").addClass('disabled');
            $("#return_others").addClass('disabled');
        }
    }

    function registerHandlers() {
        $("#join_meeting").click( handleJoinButton );
        $("#hold_others").click( handleHoldButton );
        $("#return_others").click( handleReturnButton );
        setButtonStates();
    }

    function handleJoinButton() {
        if (globJoinedMeeting) {
            leaveMeeting();
        }
        else {
            copyMeetingInfoFromGUItoGlobs();
            copyMeetingInfoFromGlobsToCookies();
            generateZoomSignatureAndJoin();
        }
    }

    function adminPutOthersOnHold() {
        muteOthers(true);
        putOthersOnHold(true);
    }

    function adminReturnOthers() {
        muteOthers(true);
        putOthersOnHold(false);
    }

    function handleHoldButton() {
        checkIfHostThenRunFunction(adminPutOthersOnHold);
    }

    function handleReturnButton() {
        checkIfHostThenRunFunction(adminReturnOthers);
    }

    function zoomInitEtc() {
        ZoomMtg.init({
            leaveUrl: globURL, // "/logout", // ????
            isSupportAV: false,
            disableCallOut: true,
            disableInvite: true,
            disableJoinAudio: true,
            audioPanelAlwaysOpen: false,
            disablePreview: true,
            disableVoIP: true,
            success: function (res) {
                console.log("ZoomMtg initialized. Now can join...");
                joinAfterInit();
            },
            error: function (res) {
                console.log('zoom init error: ', res);
            }
        });
    }

    function joinAfterInit() {
        console.log('joinAfterInit');
        ZoomMtg.join({
            meetingNumber: globMeetingNumber,
            passWord: globMeetingPasswd,
            userName: "=== Hepcat Zoom Conflictbot ===",
            userEmail: "af.princeton@gmail.com",
            // either apiKey or sdkKey is required:
            sdkKey: globZoomClientID,
            signature: globSignature, // set in function above
            success: function (res) {
                console.log("join meeting success. hide zmmtg-root");
                $("#zmmtg-root").hide(); // hide zoom display etc
                globJoinedMeeting = true;
                setButtonStates();
                getMyZoomID();
            },
            error: function (res) {
                console.log('meeting join error:');
                console.log(res);
            },
        });
    }

    function getMyZoomID() {
        console.log("getMyZoomID");
        ZoomMtg.getCurrentUser({
            success: function (res) {
                globMyZoomUser = res.result.currentUser;
                console.log("success getCurrentUser", globMyZoomUser);
            },
            error: function (res) {
                console.log('getMyZoomID error:');
                console.log(res);
            },
        });
    }

    function myZoomUserIsHost() {
        if (!globMyZoomUser) return False;
        return (globMyZoomUser.isHost || globMyZoomUser.isCoHost);
    }

    function myZoomUserIsThisUser(user) {
        if (!globMyZoomUser || !user) return False;
        return (globMyZoomUser.userId === user.userId);
    }

    function checkIfHostThenRunFunction(fn) {
        console.log("checkIfHostThenRunFunction");
        ZoomMtg.getCurrentUser({
            success: function (res) {
                globMyZoomUser = res.result.currentUser;
                console.log("success getCurrentUser", globMyZoomUser);
                if (myZoomUserIsHost()) {
                    fn();
                }
                else {
                    alert('Sorry you need to promote conflictbot to meeting (co-)host before this operation can be performed!');
                }
            },
            error: function (res) {
                console.log('getMyZoomID error:');
                console.log(res);
            },
        });
    }

    function processAllAttendees(processUser) {
        ZoomMtg.getAttendeeslist({
            success: function (res) {
                const attendees = res.result.attendeesList;
                console.log("loop over attendees:", attendees);
                attendees.map( user => processUser(user) );
            },
            error: function (res) {
                console.log('getAttendeeslist error: ', res);
            },
        });
    }

    function setUserOnHold(user, hold) {
        const name = user.userName;
        const id = user.userId;
        if (myZoomUserIsThisUser(user)) {
            return;
        }
        console.log('putOnHold user: ', name, hold);
        ZoomMtg.putOnHold({
            userId: id,
            hold: hold,
            success: function (res) {
                console.log('putOnHold success for user: ', name);
            },
            error: function (res) {
                console.log('putOnHold name, error: ', name, res);
            },
        });
    }

    function setUserMute(user, mute) {
        const name = user.userName;
        const id = user.userId;
        if (myZoomUserIsThisUser(user)) {
            return;
        }
        console.log('setUserMute user: ', name, mute);
        ZoomMtg.mute({
            userId: id,
            mute: mute,
            success: function (res) {
                console.log('setUserMute success for user: ', name);
            },
            error: function (res) {
                console.log('setUserMute name, error: ', name, res);
            },
        });
    }

    function putOthersOnHold(holdOnOff) {
        console.log("hold others:", holdOnOff);
        processAllAttendees( user => setUserOnHold(user, holdOnOff) );
    }

    function muteOthers(muteOnOff) {
        console.log("mute others:", muteOnOff);
        processAllAttendees( user => setUserMute(user, muteOnOff) );
    }

    function leaveMeeting() {
        ZoomMtg.leaveMeeting({});
        globJoinedMeeting = false;
        setButtonStates();
    }

    function matchZoomUserToHepcat(zoomUser) {
        name = zoomUser.userName.toLowerCase();
        parts = name.split(' ');
        found = null;
        while (!found && parts.length) {
            first = parts.shift();
            if (first in globUniqueNames) {
                found = globUniqueNames[first];
            }
        }
        return found;
    }

    function checkZoomConflicts() {
        if (!globJoinedMeeting) return;
        const confEmails = globHepcatPlenaryConflicts.emails;
        processAllAttendees( zoomUser => {
            hepcatUser = matchZoomUserToHepcat(zoomUser);
            if (hepcatUser) {
                holdOnOff = (hepcatUser.email in confEmails);
                //setUserOnHold(zoomUser, holdOnOff)
                setUserMute(zoomUser, holdOnOff)
            }
            else {
                console.log('Zoom user not known to Hepcat: ', zoomUser.userName);
            }
        });
    }

</script>

</body>
</html>


